# OS-specific
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.old

# Python cache
__pycache__/
*.pyc

# Environment and editor settings
.vscode/
*.env

# Windows-specific folders
AppData/
